<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WusEndpoint" value="https://cdbwus.documents.azure.com:443/" />
		<add key="WusMasterKey" value="118qzM5ggQ7FxO0lNarLmyTHIjGgW0Vpe9zpQfx4agcX4YYr4Oj3MbSzp3xoECVRLqwM3qcFXfkdUtlIhNLGVg==" />
		<add key="PreferredRegion1" value="West US" />
		<add key="PreferredRegion2" value="Southeast Asia" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>