<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CosmosDbEndpoint" value="https://cdbwus.documents.azure.com:443/"/>
		<add key="CosmosDbMasterKey" value="118qzM5ggQ7FxO0lNarLmyTHIjGgW0Vpe9zpQfx4agcX4YYr4Oj3MbSzp3xoECVRLqwM3qcFXfkdUtlIhNLGVg=="/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
